<!-- Copyright Template -->

<p>
  <span id="debugging-toggle">
    <img src="assets/images/bug.png" alt="[debug]" title="Debug Toggle" height="16" width="16" align="right" style="margin-left: 6px;"
         onclick="Rubyfaux.debugToggle();" />
  </span>
  <a href="http://validator.w3.org/check/referer"><img src="assets/images/check.png" alt="[validate]" title="Validate" height="16" width="16" align="right" style="margin-left: 6px;" /></a>

  This website is made with 
  <a href="http://rubyworks.github.com/shomen">Shomen</a> and
  <a href="http://rubyworks.github.com/rubyfaux">RubyFaux</a> v{{Rubyfaux.version}}.
<!--
  Please contact our <a href="{-email-} %>">webmaster</a> for questions or comments concerning this website.
-->
</p>

