<!-- Ruby/Google Searchbox Template -->
<form id="search-form" action="http://www.google.com/cse">
<table class="fieldset">
  <tbody><tr>
    <td>
      <input class="field" name="q" size="31" style="background: white url(http://www.google.com/coop/intl/en/images/google_custom_search_watermark.gif) no-repeat scroll left center; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" onfocus="this.style.background='white'" onblur="if (/^\s*$/.test(this.value)) this.style.background='white url(http://www.google.com/coop/intl/en/images/google_custom_search_watermark.gif) left no-repeat'" type="text">
    </td>
    <td>
      <input name="cx" value="013598269713424429640:g5orptiw95w" type="hidden">
      <input name="ie" value="UTF-8" type="hidden">
      <input class="button" name="sa" value="Search" type="submit">
    </td>
  </tr>
</tbody></table>
</form>

